body {
  primaryBackground: #ffffff;
  primaryTextColor: #000000;
  font-family: sans-serif;
  overflow: hidden;
}

.layout {
}

.options {
  height: 100vh;
  width: 30%;
  justify-content: flex-start;
  align-items: center;
  padding: 20px;
}

.map {
  height: 100vh;
  width: 70%;
}
